# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment directory
.idea/
venv/

# Ignore models directory
app/models/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd